<div class="panel panel-default">
  <div class="panel-heading">
    アイデアを投稿しましょう
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for @topic do |f| %>
　　　　  <div class="row">

　　　　　  <div class="form-group">
            <%= f.label :image, class:'text-white' %>
            <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
          </div>

          <div class="col-md-4">
            <%= f.label :title, class:'text-white' %>
            <%= f.text_field :title, class:'form-control '%>
          </div>

          <div class="col-md-4">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <div class="col-md-4">
            <%= f.label :category_list, "カテゴリーを選択してください" %>
            <%= f.collection_select :category_ids, Category.all, :id, :name %>
          </div>


        </div>

        <div><%= f.submit "アイデアを投稿する", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>
