<br/>
<div class="row">
  <div class="col-md-4">
    <div class="center">
      <%= image_tag avatar_url(@user), class: "avatar-full" %>
      <% if current_user && current_user != @user %>
       <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-default" %>
      <% end %>
    </div>


      <h3><%= @user.fullname %></h3><br/>
      <%= render 'follow_form' %>
      <%= render 'status'%><br/>
      <%= link_to 'お気に入り', favorites_index_path %><br/><br/>


      <div class="description row-space-9">
        <h4>ユーザー紹介：</h4>
        <%= simple_format @user.description %><br/>
      </div>
    </div>

       <div class="col-md-8">
        <% @user.topics.each do |topic| %>
         <div class="panel panel-default">
           <div class="panel-heading"><%= topic.title %></div>
           <div class="panel-body">
             <%= simple_format topic.description %>
             <%= topic.created_at %>
           </div>
         </div>
        <% end %>
    </div>


  </div>
